In [5]:
import pandas as pd
df = pd.read_csv ("carrera.csv")
df

   id  numClases                   nombre
0   1         63          Media Manager I
1   2         62   Occupational Therapist
2   3         65            Programmer IV
3   4         60       Research Associate
4   5         64    Chief Design Engineer
5   6         65        Marketing Manager
6   7         64  Accounting Assistant IV
7   8         65              Developer I
8   9         61       Speech Pathologist
9  10         60         Quality Engineer

In [21]:
import pandas as pd
df = pd.read_csv ("alumno.csv")
df[df.promedio==df.promedio.max()]

   id first_name last_name  gender  idcarrera  promedio
6   7    Cecilla   Lerwell  Female          6     96.34

In [12]:
import pandas as pd
df = pd.read_csv ("maestro.csv")
df
df.set_index('idcarrera')
df.reset_index (inplace=True)

In [6]:
pd.merge(alumno, carrera, 
         right_index=True, left_index=True)

NameError: name 'alumno' is not defined

In [7]:
pd.merge(alumno.csv, carrera.csv, 
         right_index=True, left_index=True)

NameError: name 'alumno' is not defined

In [9]:
pd.merge(id, idcarrera , 
         right_index=True, left_index=True)

NameError: name 'idcarrera' is not defined

In [11]:
pd.merge(id, idcarrera , 
         right_index=True, left_index=True)

NameError: name 'idcarrera' is not defined

In [13]:
df_alumnos=pd.read_csv("ruta")
df_carrera =pd.read_csv("ruta")
df_alumno.merge(df_carrera, how="inner", on"ID")

SyntaxError: positional argument follows keyword argument (1330375947.py, line 3)

In [14]:
df_alumnos=pd.read_csv("ruta")
df_carrera =pd.read_csv("ruta")
df_alumno.merge(df_carrera, how="inner", on"id")

SyntaxError: positional argument follows keyword argument (4216266411.py, line 3)

In [17]:
df_alumnos=pd.read_csv("ruta")
df_carrera =pd.read_csv("ruta")
df_alumno.merge(df_carrera, how="inner", on"ID")
df_alumno_calificacion = df_alumno.merge(df_carrera, how="inner", on"ID)

SyntaxError: positional argument follows keyword argument (1741320.py, line 3)

In [18]:
df[df.promedio==df.promedio.max()]

AttributeError: 'DataFrame' object has no attribute 'promedio'